# Specify filepatterns you want git to ignore.
.idea
ircart
vendor
config.yaml
artconfig.yaml
composer.lock
scripts/notifier/notifier_keys.yaml
ignores.txt
composer-dev.lock
/composer.phar
/.phplint-cache
