name: pee
server: localhost
#pass: uncomment_for_password
port: 6667
bindIp: 0
ssl: false
throttle: true
trigger: "-"
channels: ['#h4x', '#art']
waKey: 'key'
iexKey: 'key'
bingKey: 'key'
bingEP: "https://api.cognitive.microsoft.com/bing/v7.0/"
bingLang: "en-US"
openweatherKey: "key"
bingMapsKey: "key"
gkey: "AIzaSyAaEHZbtAc2TexZI7FShOI4jcNqP3ga4Ws"
youtube: true
#youtube_thumb: true
#youtube_thumbwidth: 60
#p2u: "~/p2u/p2u"

#uncomment to start the notification listen server
#listen: "0.0.0.0:1337"

#set to true to enable codesand
codesand: false