name: pee
server: localhost
port: 6667
bindIp: 0
ssl: false
channels: ['#h4x', '#art']
waKey: 'key'
iexKey: 'key'
bingKey: 'key'
bingEP: "https://api.cognitive.microsoft.com/bing/v7.0/"
bingLang: "en-US"