name: pee
server: localhost
port: 6667
bindIp: 0
ssl: false
throttle: true
trigger: "-"
channels: ['#h4x', '#art']
waKey: 'key'
iexKey: 'key'
bingKey: 'key'
bingEP: "https://api.cognitive.microsoft.com/bing/v7.0/"
bingLang: "en-US"
openweatherKey: "key"
bingMapsKey: "key"
gkey: "AIzaSyAaEHZbtAc2TexZI7FShOI4jcNqP3ga4Ws"
youtube: true
listen: "0.0.0.0:1337"
